.Player {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-evenly;
  box-sizing: border-box;
  border: 2px solid #2980b9;
  max-width: 500px;
  background: #2980b9;
  border-radius: 50px;
  color: #fff;
}

.Player__name {
  margin: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Player__score {
  margin: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Player__button, .Player__button_Remove {
  font-size: 20px;
  font-weight: 900;
  color: #003366;
  width: 50px;
  cursor: pointer;
  transition: 1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

